body{
    font-family: Roboto
}
nav ul{
    float: right;
    margin-right: 10%
}
a{
    text-decoration: none;
    color: #b5b2b6
}
.active{
    color:#000
}
li{
    list-style-type: none;
    display: inline;
    margin-right: 40px
}
.container{
    margin-left: 15%;
   line-height: 40px;
   padding-bottom: 100px
}
.top{
    margin-right: 45%
}
.container h3{
    font-size: 18px;
}
.container h2{
    padding-top: 70px;
    font-size: 18px;
}
.container p, .topic, .heading p{
    color:#b5b2b6;
    font-size: 18px;
}
.content{
    padding-top: 80px
}
.content{
    margin-right: 18%
}
.content a{
    color: cornflowerblue;
}
.heading{
    font-size: 20px;
}