*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.body{
    margin-top: 60px;
    padding: 10px;
    overflow-x: hidden
}
.top{
    padding-left: 70px;
    padding-bottom: 100px
}
.top img{
    width: 110px
}
.myform input, .myform select, .myform option:focus{
    border: 0;
    height: 73px;
    width: 100%;
    font-size: 16px;
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 12px;
    color:#bbbbbb;
    outline: none;
     box-shadow:none !important; 
    border-bottom: 1px solid #dbdbdb
}
#mobile-number{
    width: 250%
}
.myform input:focus{
    border-bottom: 1px solid #8470bb
}
.tabs{
    margin-top: 70px;
    text-align: center;
    padding-bottom: 20px
    
}
.tabs .active{
    border-bottom: 1px solid #537dd8
}
.tabs a{
    font-size: 17px;
    color: rgba(0, 0, 0, 0.733);
    text-decoration: none;
    padding-bottom: 10px;
    border-bottom: 1px solid #dbdbdb
}

.tabs li{
    width: 50%;
    text-align: center
}
.mytabs{
    margin-top: 80px;
}
#hoome{
    padding-top: 30px
}
#hoome p{
    font-size: 16px;
    color: #9e9e9e;
    line-height: 30px
}
#menu1 h5{
    float: right
}
.btn-text{
    font-size: 16px;
    color: #9e9e9e;
    line-height: 30px
}
.submit{
    width: 40%;
    background-color: #929bc4;
    border: 0;
    padding: 10px;
    color: #fff;
    font-size: 16px;
    margin-top: 50px;
    border-radius: 60px
}
@keyframes slide{
    0%{
        margin-left: 0px 
    }
    .65%{
        margin-left: 20px
    }
    100%{
        margin-left: 20px
    }
}
.submit:hover{
    background-color: #687ac9;
}
.submit:hover i{
    margin-left: 0px;
    animation-name:slide;
    animation-duration: 30s
}
.buttons{
    margin-top: 155px
}

.links{
    margin-top: 30px
}
.links a{
    text-decoration: none;
    margin-left: -10px 
}
.links  button{
    height:50px;
    border:0
}
.links  a:hover i{
    animation-name:swell;
    animation-duration:100s; 
    margin-left: 140px;
   
}
.links  a:hover button{
    animation-name:left;
    animation-duration:100s;
    box-shadow: 10px 10px 10px #b9b9b9
}
@keyframes left{
    0%{
        margin-left: 0;
        height:50px;
    }
    0.45%{
        margin-left: -10px;
        height:56px;
    }
    100%{
        margin-left: -10px;
        height:66px;
    }
}
@keyframes swell{
    0%{
        margin-left: 90px;
    }
    0.45%{
        margin-left: 120px;
    }
    100%{
        margin-left: 120px;
        
    }
}
.links i{
    margin-left: 90px;
}
.fb, .sec{
    height:30px;
    color: #fff;
    padding-top: 17px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 17px;
    border-radius: 40px
}
.fb{
    background-color: #284a92
}
.sec{
    background-color: rgb(216, 25, 25);
    margin-top: 20px
}
.sec i{
    margin-left: 100px
}
.mees{
    position: fixed;
    bottom: 10px;
    right: 15px;
}
@media only screen and (max-width:800px){
    body{
        margin-top: 60px;
     
    }
    .body{
        padding-left: 0px
    }
    .top img{
        width: 95px
    }
    .mytabs{
        margin-top:30px;
    }
    .tabs{
        padding-bottom: 20px
    }
    #hoome{
        padding-top: 0px
    }
    .myform input, .myform select, .myform option:focus{
        width: 90%;
    }
    #mobile-number{
        width: 100%
    }
    .buttons{
        margin-top: 10px;
        padding-left: 70px
    }
    .submit{
        width: 70%
    }
    .links{
        margin-top: 30px
    }
    .links a{
        text-decoration: none;
        margin-left: -10px 
    }
    .links  button{
        height:50px;
        border:0
    }
   
    .links i{
        margin-left: 90px;
    }
}