
.wrap{
    height:130%;
    background-color: rgb(2, 28, 77);
}
.calc{
    height: 600px;
    border-radius:15px;
    margin-top: 15px;
    background-color: rgb(19, 49, 104);
}
.screen{
    margin-top: 50px;
    height:100px;
    background-color: rgb(76, 104, 155);
}
#display {
    height:40px;
    padding-right: 50px;
    font-size: 20px;
    width: 100%;
    text-align:right; 
    float: right;
    border:0;
    border-bottom: .5px dotted #dbdbdb
}
#output{
    height:60px;
    font-size: 50px;
    padding-left: 50px;
    width: 100%;
    border:0
}

.button, .last{
    height:100px;
    background-color: rgb(19, 49, 104);
    border: 0;
    border-top: .1px solid #4a455e;
    border-right: .1px solid #4a455e;

}
.button:hover, .last:hover{
    background-color: cornflowerblue
}
.button p, .last p{
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    color:#fff
}
@media screen and (max-width:964px){
    body{
        padding-top: 20px
    }
    .button, .last{
        height:60px;
        background-color: rgb(19, 49, 104);
        border: 0;
        border-top: .1px solid #4a455e;
        border-right: .1px solid #4a455e;
    
    }

}