
.wrap{
    height:130%;
    background-color: rgb(2, 28, 77);
}
.calc{
    margin-left: 35%;
    height: 650px;
    border-radius:15px;
    margin-top: 15px;
    background-color: rgb(19, 49, 104);
}
.screen{
    height:150px;
    background-color: rgb(76, 104, 155);
}
#display {
    height:60px;
    padding-right: 50px;
    font-size: 20px;
    width: 100%;
    text-align:right; 
    border:1px solid #84b6c5;
    float: right;
}
#output{
    height:90px;
    font-size: 50px;
    padding-left: 50px;
    width: 100%;
    border:1px solid #84b6c5
}
.buttons{
    border-top: .1px solid #4a455e;
    height:100px;
}
.button, .last{
    height:100px;
    background-color: rgb(19, 49, 104);
    border: 0;
    border-top: .1px solid #4a455e;
    border-right: .1px solid #4a455e;

}
.button:hover, .last:hover{
    background-color: cornflowerblue
}
.button p, .last p{
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    color:#fff
}