body{
    margin: 0;
    width:100%;
    font-family: 'Roboto Slab', serif;
}
.back-im{
    width: 96%;
    height: 650px;
    overflow: hidden;
    position: fixed;
    margin: 2%
}
.back-im img{
    margin-top: -100px;
    z-index: 2;
    width: 100%;
    
}
.top-content{
     z-index: 3;
}
.top-content img{
    position: absolute;
    top:80px;
    left:7%;
    width: 180px
}
.text h1{
    font-size: 40px;
    line-height: 50px;
    color: #fff;
    position: absolute;
    top:180px;
    left:8%;
    z-index: 5;
}
.top-links1{
    position: absolute;
    color:#fff;
    font-size: 18px;
    top: 80px;
    left: 63%
}

.top-links2{
    color:#fff;
    position: absolute;
    font-size: 18px;
    top: 80px;
    left: 74%
}
.top-links3{
    background-color:#fff;
    border-radius: 5px;
    padding-top: 10px; 
    padding-bottom: 10px; 
    padding-left: 20px;
    padding-right: 20px;  
    color:rgb(83, 81, 81);
    position: absolute;
    font-size: 17px;
    top: 65px;
    left: 84%
}
.top-links2 .caret{
    margin-left: 5px;
    color:#fff
}
.top-links1 .caret{
    margin-left: 5px;
    color:#fff
}
.top-btn{
   background: none;
   border: 0
}
.dropdown-content2 {
    display: none;
    position: absolute;
    color:rgb(114, 111, 111);
    font-size: 15px;
    top: 30px;
    width: 132px;
    background-color: #fff;
    border-radius:5px;
    z-index: 1;
    border: 2px solid #fff;
}

/* Links inside the dropdown */
 .dropdown-content2 a {
    color: black;
    padding: 12px 16px;
    margin-left: 20px;
    text-decoration: none;
    display: block;
}

/* Show the dropdown menu on hover */
 .dropdown:hover .dropdown-content2 {
    display: block;
}

.dropdown-content3 {
    display: none;
    position: absolute;
    top: 30px;
    color:rgb(114, 111, 111);
    font-size: 15px;
    width: 132px;
    background-color: #fff;
    border-radius:5px;
    z-index: 1;
}

/* Links inside the dropdown */
 .dropdown-content3 a {
    color: black;
    padding: 12px 16px;
    margin-left: 20px;
    text-decoration: none;
    display: block;
}

/* Show the dropdown menu on hover */
 .dropdown:hover .dropdown-content3 {
    display: block;
}
.menu-btn{
    position: absolute;
    background-color:  #c5c1c1;
    border: 1px solid #fff;
    border-radius:5px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom:15px;
    color:#000;
    z-index: 2;
    top:380px;
    left:8%;
}

.menu-btn:hover{
    background-color:  #c5c1c1;
    border: 1px solid #fff;
    color:#000;
}
.caret{
    margin-left: 30px;
    color: rgb(105, 101, 101);
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content1 {
    display: none;
    position: absolute;
    top:430px;
    left:8%;
    width: 232px;
    background-color: #c5c1c1;
    border-radius:5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border: 2px solid #fff;
}

/* Links inside the dropdown */
 .dropdown-content1 a {
    color: black;
    padding: 12px 16px;
    margin-left: 20px;
    text-decoration: none;
    display: block;
}

/* Show the dropdown menu on hover */
 .dropdown:hover .dropdown-content1 {
    display: block;
}

.mess{
    position: fixed;
    z-index: 200;
    top: 510px;
    left: 90%;
}
.mess img{
    width: 45px
}
.content{
    margin-top: 640px;
    padding-top: 40px;
    padding-left: 80px;
    padding-bottom: 160px;
    background-color:#fff
}
.text-card{
    padding: 30px
}
.content p{
   font-Style:normal;
   font-Weight:150;
   font-Size:16px;
   Line-Height:26px

}
.one {
    margin-top: 30px
}
.testimonial{
    padding: 80px;
    background-color: #e0e0e0;

}
.big{
    float: left;
    font-size: 128px;
    color: burlywood
}
.testimonial h1{
    font-size: 46px;
    line-height: 60px;
    padding: 40px
}
.pic img {
    margin-top: 220px;
    margin-left: 90%
}
.pic p{
    margin-left: 70%
}
.blue{
    background-color: rgb(26, 20, 61);
    padding-top: 40px;
    padding-bottom: 80px;
    z-index: 89;
}
.blue h3{
    color: #fff;
    text-align: center;
    margin-bottom: 40px
}
.blue input{
    width: 80%;
    height:70px;
    border:0;
    border-radius: 6px;
    padding-left: 30px
}
@media only screen and (max-width: 767px){
    .back-im{
        width: 100%;
        height: 100%;
        margin: 0;
        overflow: hidden;
        position: fixed;
    }
    .back-im img{
        width: 200%;
        margin-top: 0;
        margin-left: -200px;
        z-index: 2;
        
    }
    .top-content img{
        top:20px;
        left:7%;
    }
    .top-content img{
        position: absolute;
        top:20px;
        left:3%;
        width: 180px
    }
    .text h1{
        top:200px;
        left:3%;
        font-size: 20px;
        line-height: 40px;
    }
    .mess{
        position: absolute;
        top: 510px;
        left: 90%;
    }
    .mess img{
        width: 45px
    }
}