*{
   font-family: 'Montserrat', sans-serif;
}
body{
  height:640px;
  padding: 0;
  margin: 0;
  color: #fff
}
nav{
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

    #btn{
        position: absolute;
        bottom: 60px;
        right: 60px;
        color: #fff;
        z-index: 999
    }
.screen1{
  position: absolute;
  top: 0;
  opacity: 2;
  z-index: 2;
  margin: 0;
  width: 100%;
  height:700px;
  transition: background-color 1s ease-in-out;
  overflow: hidden
}
.ee{
  margin: 0;
  padding: 0
} 
.me{
    width: 100%;
    height:100%;
    margin-top: -30px;
   z-index: 2;
}
.me img{
    position: absolute;
    top:-30px;
    left: 0;
    height: 140%;
}
.loo img{
  display: none
}
.top-text{
    position: absolute;
    top:20px;
    left:20px;
    font-weight:600; 
    color: #b99f2c;
    z-index: 19;
    font-size: 35px;
    font-family:'Courier New', Courier, monospace
}

.wrapper{
   z-index: 9;
   height: 725px;
   background-color: #000024;
   transition: all 1.0s linear;
}

.text{
     z-index: 9;
    margin-top: 0px
}
.text  p{
    color: rgb(228, 226, 220);
     font-size:17px ;
     font-weight: 100;
     z-index: 9;
     padding: 50px;
     line-height: 35px
     }
  .story{
    margin-top: 150px
  }
 .tint{
     color: rgb(185, 159, 44);
 }  
 #demo{
     margin-top: 50px
 }   
    
 .innerText{
    margin-top: -100px
    }
.links{
    position: fixed;
    top: 10px;
    left:85%;
    z-index: 20;
    padding-right: 30px;
    padding-top: 10px
}

.links a{
    font-size:25px; 
    margin-left: 15px;
    color: rgb(185, 159, 44);
    transform-style: preserve-3d;
  transition: all 0.5s linear;
}
.links a:hover {
    font-size:30px;
    color: #fff;
    transform-style: preserve-3d;
  transition: all 0.5s linear;
}
#f1_container {
  position: relative;
  z-index: 1;
}
#f1_container {
  perspective: 1000;
  margin-left: -50px
}
#f1_card {
  transform-style: preserve-3d;
  transition: all 1.0s linear;
}
#f1_container:hover #f1_card {
  transform: rotateY(180deg);
}
.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.face.back {
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  color: white;
  text-align: center;
}
/*.top-btn{
    position: absolute;
    top: 50%;
    border: 1px solid rgb(185, 159, 44);
    padding:15px;
    background-color: #fff;
    border-radius: 100px;
    right: 10%
 }
 .top-btn  p{
    color: rgb(185, 159, 44);
     font-family: 'Raleway', sans-serif;
     font-size:20px ;
     z-index: 9;
     }
     
.dropdown-content2 {
    display: none;
    position: absolute;
    color:rgb(114, 111, 111);
    font-size: 15px;
    top: 30px;
    margin-top: 30px;
    width: 252px;
    background-color: rgb(211, 204, 204);
    border: 2px soid #000;
    border-radius:5px;
    z-index: 1;
    border: 2px solid #fff;
}
 .dropdown-content2 a {
    color: black;
    padding: 12px 16px;
    margin-left: 20px;
    text-decoration: none;
    display: block;
}

 .dropdown:hover .dropdown-content2 {
    display: block;
}
*/
.sect{
    margin-top: 25px;
    padding-top: 30px;
    align-items: center
}
.sect img{
    position: ;
    z-index: 10;
    margin-left: 5%;
    width: 90%;
    margin-top: -70px;
    box-shadow: 10px 10px 20px 0 rgba(118, 118, 118, 0.4), -10px 10px 3px 0 rgba(163, 163, 163, 0.01);
    
}
/* .sect img:hover{
    width:100%;
    margin-left: 0;
    transition: all 2s
} */
.pane h5{
    top: 180px;
    margin-left: 5%;
    color: #fff;
    font-size: 14px;
    margin-top: 25px;
    margin-bottom: 15px
}
.visit{
    margin-left: 5%;
    border: 1px solid #eee;
    box-shadow: 10px 10px 10px rgba(rgb(129, 129, 129), 0.3);
    background-color: #fff;
    padding: 20px
}
.visit i{
  color: blue
}

 @media only screen and (max-width: 967px){

    body{
        overflow: hidden;
    }
    .top-text{
    position: absolute;
    top:20px;
    left:20px;
    font-weight:500; 
    z-index: 19;
    font-size: 25px;
    font-family:'Courier New', Courier, monospace
   }
   .loo img{
    display: block;
    width: 82px;
    position: absolute;;
    top: 0px;
    right: 0px
   }
.links{
    position: fixed;
    top: 10px;
    left:65%;
    z-index: 20;
}
.links a{
    font-size:15px; 
    margin-left: 20px;
    color: rgb(185, 159, 44);
    transform-style: preserve-3d;
  transition: all 0.5s linear;
}

.wrapper{
   z-index: 9;
   height: 800px;
   margin-top: 15px;
   background-color: #000024;
  }
 .face img{
    display: none
    
     }
 
.text{
     z-index: 9;
    margin-top: 0px
    font-size:13px
}
.text  p{
     font-size:16px ;
     font-weight: 300px;
     z-index: 9;
     padding-top: 45px;
     color: #9b9b9b;
     text-align: left;
     }
  .story{
    margin-top: -10px;
  }
 .tint{
     color: rgb(185, 159, 44);
 }  
 #demo{
     margin-top: 50px
 }   
    
 .innerText{
    margin-top: -100px;
    }
    .pane{
        border-bottom: 1px solid #fff
    }
    .sect img{
        position: ;
        top: 100px;
        width: 90%;
        margin-left: 0;
        margin-top: 30px;
       }
    .pane h5{
        color: #fff;
        font-size: 14px
    }
    .visit{
        padding: 10px;
    }
 }

